// colors
$color-1: #424a51; // gray
$color-2: #c59a6d; // tan color
$color-3: #282f35; // dark blue-gray
$color-4: #8e9297; // light gray
$color-5: #dddddd; // really light gray
$color-6: #1e2429; // dark navy blue

// fonts
$reg: 'proximareg';
$bold: 'proximabold';

// breakpoints
$bp-md: 800px;
$bp-lg: 1000px;

$bp-hero-margin: 500px;

$bp-content-wrap: 800px;

$bp-service-inline: 800px;

$bp-projects-3by: 500px;
$bp-projects-6by: 1200px;

$bp-partners-2by: 500px;
$bp-partners-4by: 650px;

$bp-bio-2by: 800px;
$bp-bio-4by: 1000px;

$bp-contact-float: 800px;

$bp-tweet-4lines: 360px;
$bp-tweet-3lines: 450px;
$bp-tweet-2lines: 660px;