.center {
	//@include center(80%);
}

.slideshow {
	background: #ff006c; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff006c 0%, #7d2ded 50%, #25b7c4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff006c), color-stop(50%,#7d2ded), color-stop(100%,#25b7c4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff006c 0%,#7d2ded 50%,#25b7c4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff006c 0%,#7d2ded 50%,#25b7c4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff006c 0%,#7d2ded 50%,#25b7c4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff006c 0%,#7d2ded 50%,#25b7c4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff006c', endColorstr='#25b7c4',GradientType=0 ); /* IE6-9 */
	width: 100%;
	@include transition(all, 300ms, ease);

	.overflow {
		overflow: hidden;
	}

	.slide {
		width: 100%;
		position: relative;
		@include transition(all, 300ms, ease);
	}

	.content {
		padding-top: 30px;
		padding-bottom: 30px;
		width: 80%;
		max-width: 600px;
		margin: 0 auto;
		@include center(80%);

		img {
			width: 100%;
			max-width: 100%;
			margin-bottom: 15px;
		}
	}
}